<!DOCTYPE html>
<html lang="en">
<head>
    <title>Les films</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>La liste des films</h1>
</div>
<div class="container">
    <div class="row">
        {% if films is not empty %}
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Synopsis</th>
                    <th>Type</th>
                
                </tr>
                </thead>
                <tbody>
                {% for film in films %}
                    <tr>
                        <td>{{ film.nom }}</td>
                        <td>{{ film.synopsis | slice(0, 20) }}...</td>
                        <td>{{ film.type}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun film trouvé..</p>
        {% endif %}
    </div>
</div>
</body>
</html>