{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
    <p>Chai tea edamame hummus banh mi salad rolls cauliflower mocha chocolate lingonberry sriracha pecans sesame soba noodles lemon lime minty winter banana bread crispy tahini drizzle oranges candy cane winter cashew samosa naga viper farro platter summer fruit salad instant pot seitan black bean chili dip frosted gingerbread bites homemade balsamic green papaya salad. Miso dressing red curry tofu noodles onion kale Mexican fiesta butternut mix Italian linguine puttanesca avocado basil pesto couscous cranberry spritzer red pepper hazelnut shiitake. Chocolate peanut butter dip bananas chocolate cookie hot chili tabasco pepper chocolate apples dragon fruit peppermint seasonal Thai sun pepper smoked tofu red grapes.</p>

<a href="api/create">Ajouter un film</a>
<a href="api/getall">voir les films</a>




</div>
{% endblock %}